
$primary_color: #5DCC92;
$link_color: #5CCCC4;
$cell_height: 40px;
$label_height: 40px;
$site_width: 640px;

@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    transition: $args;
}

@mixin unselectable {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

@mixin border_box {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

@mixin single_line {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

body {
    background: #e6e6e6;
    font-family: lato, sans-serif;
    margin: 0;
    color: #333;
    font-size: 16px;

    &.dragging  {
        @include unselectable;
        cursor: default;
    }
}

a {
    color: darken($link_color, 5%);

    &:hover {
        color: $link_color;
    }
}

.header {
    height: 200px;
    text-align: center;
    background: $primary_color;
    margin-bottom: 20px;
    color: white;
    overflow: hidden;

    h1 {
        margin: 0;
        margin-top: 52px;
        font-weight: 200;
        font-size: 80px;
        line-height: 1.0;
    }

    h2 {
        margin: 0;
        font-size: 16px;
        font-weight: normal;
        letter-spacing: 0.10em;
    }
}


.jam_browser {
    margin: 0 20px;
}

.scrollbar_outer {
    @include unselectable;
    position: relative;
    height: 10px;
    margin-top: 6px;

    .scrollbar {
        position: absolute;
        background: #B8B8B8;
        top: 0;
        bottom: 0;
        border-radius: 24px;
        opacity: 0;
        @include transition(opacity 0.6s ease);

        &:hover, &.dragging {
            background: lighten(#B8B8B8, 3%);
        }

        &.visible {
            opacity: 1;
        }
    }
}

.calendar {
    overflow: hidden;
    cursor: move;

    .calendar_scrolling {
        height: 250px;
        position: relative;
        background: white;
    }

    .calendar_row {
        position: relative;
        height: $cell_height;
        margin: 3px 0;
    }

    .jam_cell {
        @include border_box;
        @include single_line;
        position: absolute;
        top: 0;
        bottom: 0;
        background: #A8A8A8;
        color: white;
        line-height: $cell_height;
        padding: 0 20px;

        &.small_text {
            font-size: 14px;
        }

        a {
            color: inherit;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }

    .calendar_rows, .day_markers {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

	.elapsed_time {
		@include border_box;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		width: 50%;
		background: #F5F5F5;
		border-right: 5px solid #E9E9E9;
	}

    .day_markers {
        z-index: 1;
		@include unselectable;

        .day_marker {
            @include border_box;
            border-left: 1px solid #dadada;
            position: absolute;
            top: $label_height;
            bottom: 0;

            &:first-child {
                border-left: 0;
            }

            .day_ordinal, .day_name {
                position: absolute;
                left: 0;
                right: 0;
                height: $label_height;
                line-height: $label_height;
                padding-left: 20px;
            }

            .day_ordinal {
                top: 0;
                border-bottom: 1px solid #dadada;
                color: #666;
                font-weight: bold;
            }

            .day_name {
                bottom: 0;
                border-top: 1px solid #dadada;
                font-size: 13px;
                text-transform: uppercase;
                color: #777;
            }
        }
    }

    .calendar_rows {
        z-index: 2;
        top: $label_height * 2 + 2px;
        bottom: 30px;
    }

    .month_markers {
		@include unselectable;
        height: 20px;
        background: black;
        position: relative;
        z-index: 5;

        .month_marker {
            @include border_box;
            background: #B8B8B8;
            border-left: 1px solid darken(#B8B8B8, 10%);
            color: #444;

            position: absolute;
            top: 0;
            bottom: 0;
            height: $label_height;
			line-height: $label_height;
			padding: 0 20px;

            &:first-child {
                border-left: 0;
            }
        }
    }
}


.jam_list {
    width: $site_width;
    margin: 0 auto;

    h2 {
        font-weight: 200;
        color: #666;
        font-size: 48px;
        margin: 48px 0 24px 0;
    }
}

.jam_box {
    background: white;
    overflow: hidden;
    margin-bottom: 24px;

    &.has_image {
        overflow: hidden;

        h3, p {
            margin-right: 240px;
        }

        .progress_outer {
            clear: both;
        }

        .cover_image {
            float: right;
            background: #aaa;
            width: 200px;
            height: 160px;
            margin: 24px 20px 24px 0;
            background-size: cover;
            background-position: 50% 50%;
        }
    }

    h3 {
        font-weight: normal;
        font-size: 26px;
        margin: 24px 20px;
        color: #666;

        a {
            text-decoration: none;
            color: inherit;
            font-weight: inherit;

            &:hover {
                // text-decoration: underline;
                border-bottom: 2px solid #aaa;
            }
        }
    }

    p {
        margin: 24px 20px;
        line-height: 24px;
    }

    .jam_link {
        @include single_line;
    }

    .time_data {
        color: #777;
    }

    .progress_outer {
        margin: 24px 20px;

        .time_labels {
            overflow: hidden;
        }

        .left_label, .right_label, .remaining_label {
            font-size: 16px;
            color: #777;
        }

        .left_label, .right_label {
            position: relative;
            margin-bottom: 16px;
        }

        .left_label {
            float: left;
            text-align: left;

            &:before {
                content: "";
                width: 2px;
                height: 8px;
                background: #ccc;
                position: absolute;
                bottom: -11px;
                left: 0;
            }
        }

        .right_label {
            text-align: right;

            &:before {
                content: "";
                width: 2px;
                height: 8px;
                background: #ccc;
                position: absolute;
                bottom: -11px;
                right: 0;
            }
        }

        .remaining_label {
            margin-top: 8px;
            text-align: right;
        }

        .progress {
            background: rgba(darken($primary_color, 10%), 0.3);
            height: 10px;
            position: relative;

            .progress_inner {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;

                width: 50%;
                background: $primary_color;
            }
        }
    }
}

