
$cell_height: 40px;
$label_height: 40px;

@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    transition: $args;
}

@mixin unselectable {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

@mixin border_box {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    background: #e6e6e6;
    font-family: lato, sans-serif;
    margin: 0;
    color: #333;
}

.header {
    height: 200px;
    text-align: center;
    background: #5DCC92;
    margin-bottom: 20px;
    color: white;
    overflow: hidden;

    h1 {
        margin: 0;
        margin-top: 52px;
        font-weight: 200;
        font-size: 80px;
        line-height: 1.0;
    }

    h2 {
        margin: 0;
        font-size: 16px;
        font-weight: normal;
        letter-spacing: 0.10em;
    }
}


.jam_browser {
    margin: 0 20px;
}

.scrollbar_outer {
    position: relative;
    height: 10px;
    margin-top: 6px;

    .scrollbar {
        position: absolute;
        background: #B8B8B8;
        top: 0;
        bottom: 0;
        border-radius: 24px;
        opacity: 0;
        @include transition(opacity 0.6s ease);

        &.visible {
            opacity: 1;
        }
    }
}

.calendar {
    overflow: auto;

    .calendar_scrolling {
        height: 280px;
        position: relative;
        background: white;
    }

    .calendar_row {
        position: relative;
        height: $cell_height;
        margin: 3px 0;
    }

    .jam_cell {
        @include border_box;
        position: absolute;
        top: 0;
        bottom: 0;
        background: #A8A8A8;
        color: white;
        line-height: $cell_height;
        padding: 0 20px;
    }

    .calendar_rows, .day_markers {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .day_markers {
        z-index: 1;

        .day_marker {
            @include border_box;
            border-left: 1px solid #dadada;
            position: absolute;
            top: $label_height;
            bottom: 0;

            &:first-child {
                border-left: 0;
            }

            .day_ordinal, .day_name {
                position: absolute;
                left: 0;
                right: 0;
                height: $label_height;
                line-height: $label_height;
                padding-left: 20px;
            }

            .day_ordinal {
                top: 0;
                border-bottom: 1px solid #dadada;
                color: #666;
                font-weight: bold;
            }

            .day_name {
                bottom: 0;
                border-top: 1px solid #dadada;
                font-size: 13px;
                text-transform: uppercase;
                color: #777;
            }
        }
    }

    .calendar_rows {
        z-index: 2;
        top: $label_height * 2 + 2px;
        bottom: 30px;
    }

    .month_markers {
        height: 20px;
        background: black;
        position: relative;
        z-index: 5;

        .month_marker {
            @include border_box;
            background: #B8B8B8;
            border-left: 1px solid darken(#B8B8B8, 10%);
            color: #444;

            position: absolute;
            top: 0;
            bottom: 0;
            padding: 0 20px;
            height: $label_height;
            line-height: $label_height;

            &:first-child {
                border-left: 0;
            }
        }
    }
}

.fixed_label {
    background: red;
}
