<div class="jam_list">
  <div class="jam_box">
    <h3>{{ jam.name }}</h3>
    <p class="jam_link"><a href="{{ jam.url }}">{{ jam.url }}</a></p>
    <p>{{ jam.description }}</p>
  </div>

  <p class="link_back">
    <a href="../../../">View more jams on CompoHub</a>
  </p>
</div>
